* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

.allpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

a {
  margin: 10px 10px;
  align-self: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.myphoto {
  border-radius: 50%;
}

.menu {
  border-radius: 50%;
}

.topImg {
  padding: 5px;
  border: transparent;
}

.topImg:hover {
  background-color: #030d18;
  border-radius: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c4043;
}

.logo {
  margin: 5px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px gray;
  border-radius: 30px;
  height: 40px;
  width: 30%;
  margin-left: 35%;
}

.search:hover {
  box-shadow: 0px 1px 5px #949494;
}

.search-bar {
  height: 90%;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border: transparent;
}

.search-bar:focus-visible {
  outline: none;
}

.search-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
  height: 13%;
}

.btn {
  background-color: #f8f9fa;
  border: #f8f9fa;
  padding: 5px;
}

.btn:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.upperfooter {
  display: flex;
  padding: 15px 30px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #dadce0;
  color: rgba(0, 0, 0, 0.54);
}

.lowerfooter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px;
  background-color: #f2f2f2;
}

.leftfooter {
  display: flex;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.54);
}

.rightfooter {
  display: flex;
  align-items: flex-end;
}

.textLink {
  text-decoration: none;
  color: black;
  color: rgba(0, 0, 0, 0.54);
}

.textLink:hover {
  text-decoration: underline;
}
