html{height: 100%; min-height: 100%;}
#allpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.spacer{
    flex-grow: 1;
}
a{
    margin: 10px 10px;
    align-self: center;
}
#myphoto{
    border-radius: 50%;
}
#navbar{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    display: flex;
    justify-content: space-between;
    align-items:center;
    border: solid 1px gray;
    border-radius: 30px;
    height: 40px;
    width: 30%;
    margin-left: 35%;
}
#search-buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
#search-bar{
    height: 90%;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    border: transparent;
    /* box-shadow: 0px 1px 5px black; */
}
#search-bar:focus-visible{
    outline: none;
}
#footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#offerings{
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftfooter{
    display: flex;
    align-items: flex-start;
}
#rightfooter{
    display: flex;
    align-items: flex-end;
}